<button (click)="makePdf()">make pdf</button>
<div  class="content">
	<div _ngcontent-nvr-c4="" class="site-width-container">
		<div _ngcontent-nvr-c4="" class="grid-row">
			<div _ngcontent-nvr-c4="" class="column-one-half nomarginbottom fullwidth">
				<h1 _ngcontent-nvr-c4="" class="main-heading"></h1>
				<h1 _ngcontent-nvr-c4="" class="heading-medium nomargintop">Plan</h1>
			</div>
		</div>
		<!---->
		<!---->
		<div _ngcontent-nvr-c17="" class="plan-div">
			<div _ngcontent-nvr-c17="" class="grid-row">
				<div _ngcontent-nvr-c18="">
					<!---->
				</div>
				<div _ngcontent-nvr-c18="" #content  class="planWrapper" >
					<!---->
					<div _ngcontent-nvr-c18="" class="gantt-container">
						<!---->
						<div _ngcontent-nvr-c18="" class="upper-container">
							<div _ngcontent-nvr-c18="" class="above-pathway-container"></div>
							<div _ngcontent-nvr-c18="" class="months-container">
								<div _ngcontent-nvr-c18="" class="month-left">
									<div _ngcontent-nvr-c18="" class="chevron-container left-chevron">
										<button _ngcontent-nvr-c18="" class="btn-arrow left-arrow" type="button" value="Prev"><span _ngcontent-nvr-c18="" class="arrow-div"></span></button>
									</div>
									<div _ngcontent-nvr-c18="" class="month-container" style="height: 280px;">
										<span _ngcontent-nvr-c18="">March 2020</span></div>
									<div _ngcontent-nvr-c18="" class="chevron-container"></div>
								</div>
								<div _ngcontent-nvr-c18="" class="month-middle">
									<span _ngcontent-nvr-c18="">April 2020</span></div>
								<div _ngcontent-nvr-c18="" class="month-right">
									<div _ngcontent-nvr-c18="" class="chevron-container"></div>
									<div _ngcontent-nvr-c18="" class="month-container">
										<span _ngcontent-nvr-c18="">May 2020</span></div>
									<div _ngcontent-nvr-c18="" class="chevron-container">
										<button _ngcontent-nvr-c18="" class="btn-arrow right-arrow" type="button" value="Next"><span _ngcontent-nvr-c18="" class="arrow-div"></span></button>
									</div>
								</div>
							</div>
						</div>
						<!---->
						<section _ngcontent-nvr-c18="" class="pathway-container">
							<div _ngcontent-nvr-c18=""
								class="pathway-label-container pathway-label-education-and-training">
								<span _ngcontent-nvr-c18="" class="pathway-label">EDUCATION &amp; TRAINING</span></div>
							<div _ngcontent-nvr-c18="" class="pathway-timeline pathway-timeline-education-and-training">
								<div _ngcontent-nvr-c18="" class="timeline-decorator-container">
									<!----><span _ngcontent-nvr-c18="" class="gantt-day-div" style="left: 578.333px;"></span>
									<div _ngcontent-nvr-c18="" class="gantt-left-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-middle-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-right-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
								</div>
								<div _ngcontent-nvr-c18="" class="timeline-course-container">
									<!---->
									<div _ngcontent-nvr-c18="" class="course-container">
										<div _ngcontent-nvr-c18="" class="course-bar course-bar-education-and-training"
											style="width: 416px; left: 561px;"></div>
										<div _ngcontent-nvr-c18="" class="course-label" style="left: 566px;">
											<span _ngcontent-nvr-c18="">Spelling, Punctuation and Grammar</span></div>
									</div>
								</div>
							</div>
						</section>
						<section _ngcontent-nvr-c18="" class="pathway-container">
							<div _ngcontent-nvr-c18="" class="pathway-label-container pathway-label-employment">
								<span _ngcontent-nvr-c18="" class="pathway-label">EMPLOYMENT</span></div>
							<div _ngcontent-nvr-c18="" class="pathway-timeline pathway-timeline-employment">
								<div _ngcontent-nvr-c18="" class="timeline-decorator-container">
									<!----><span _ngcontent-nvr-c18="" class="gantt-day-div" style="left: 578.333px;"></span>
									<div _ngcontent-nvr-c18="" class="gantt-left-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-middle-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-right-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
								</div>
								<div _ngcontent-nvr-c18="" class="timeline-course-container">
									<!---->
									<div _ngcontent-nvr-c18="" class="course-container">
										<div _ngcontent-nvr-c18="" class="course-bar course-bar-employment"
											style="width: 416px; left: 561px;"></div>
										<div _ngcontent-nvr-c18="" class="course-label" style="left: 566px;">
											<span _ngcontent-nvr-c18="">TSP - Problem Solving</span></div>
									</div>
								</div>
							</div>
						</section>
						<section _ngcontent-nvr-c18="" class="pathway-container">
							<div _ngcontent-nvr-c18="" class="pathway-label-container pathway-label-health-wellbeing">
								<span _ngcontent-nvr-c18="" class="pathway-label">HEALTH &amp; WELLBEING</span></div>
							<div _ngcontent-nvr-c18="" class="pathway-timeline pathway-timeline-health-wellbeing">
								<div _ngcontent-nvr-c18="" class="timeline-decorator-container">
									<!----><span _ngcontent-nvr-c18="" class="gantt-day-div" style="left: 578.333px;"></span>
									<div _ngcontent-nvr-c18="" class="gantt-left-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-middle-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-right-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
								</div>
								<div _ngcontent-nvr-c18="" class="timeline-course-container">
									<!---->
									<div _ngcontent-nvr-c18="" class="course-container">
										<div _ngcontent-nvr-c18="" class="course-bar course-bar-health-wellbeing"
											style="width: 416px; left: 561px;"></div>
										<div _ngcontent-nvr-c18="" class="course-label" style="left: 566px;">
											<span _ngcontent-nvr-c18="">Smoking Cessation</span></div>
									</div>
								</div>
							</div>
						</section>
						<section _ngcontent-nvr-c18="" class="pathway-container">
							<div _ngcontent-nvr-c18="" class="pathway-label-container pathway-label-finances">
								<span _ngcontent-nvr-c18="" class="pathway-label">FINANCES</span></div>
							<div _ngcontent-nvr-c18="" class="pathway-timeline pathway-timeline-finances">
								<div _ngcontent-nvr-c18="" class="timeline-decorator-container">
									<!----><span _ngcontent-nvr-c18="" class="gantt-day-div" style="left: 578.333px;"></span>
									<div _ngcontent-nvr-c18="" class="gantt-left-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-middle-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-right-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
								</div>
								<div _ngcontent-nvr-c18="" class="timeline-course-container">
									<!---->
									<div _ngcontent-nvr-c18="" class="course-container">
										<div _ngcontent-nvr-c18="" class="course-bar course-bar-finances"
											style="width: 416px; left: 561px;"></div>
										<div _ngcontent-nvr-c18="" class="course-label" style="left: 566px;">
											<span _ngcontent-nvr-c18="">ContentTest</span></div>
									</div>
								</div>
							</div>
						</section>
						<section _ngcontent-nvr-c18="" class="pathway-container">
							<div _ngcontent-nvr-c18="" class="pathway-label-container pathway-label-housing">
								<span _ngcontent-nvr-c18="" class="pathway-label">HOUSING</span></div>
							<div _ngcontent-nvr-c18="" class="pathway-timeline pathway-timeline-housing">
								<div _ngcontent-nvr-c18="" class="timeline-decorator-container">
									<!----><span _ngcontent-nvr-c18="" class="gantt-day-div" style="left: 578.333px;"></span>
									<div _ngcontent-nvr-c18="" class="gantt-left-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-middle-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-right-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
								</div>
								<div _ngcontent-nvr-c18="" class="timeline-course-container">
									<!---->
									<div _ngcontent-nvr-c18="" class="course-container">
										<div _ngcontent-nvr-c18="" class="course-bar course-bar-housing"
											style="width: 416px; left: 561px;"></div>
										<div _ngcontent-nvr-c18="" class="course-label" style="left: 566px;">
											<span _ngcontent-nvr-c18="">All Files</span></div>
									</div>
								</div>
							</div>
						</section>
						<section _ngcontent-nvr-c18="" class="pathway-container">
							<div _ngcontent-nvr-c18="" class="pathway-label-container pathway-label-family">
								<span _ngcontent-nvr-c18="" class="pathway-label">FAMILY</span></div>
							<div _ngcontent-nvr-c18="" class="pathway-timeline pathway-timeline-family">
								<div _ngcontent-nvr-c18="" class="timeline-decorator-container">
									<!----><span _ngcontent-nvr-c18="" class="gantt-day-div" style="left: 578.333px;"></span>
									<div _ngcontent-nvr-c18="" class="gantt-left-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-middle-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
									<div _ngcontent-nvr-c18="" class="gantt-right-month">
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
										<div _ngcontent-nvr-c18="" class="week-divider"></div>
									</div>
								</div>
								<div _ngcontent-nvr-c18="" class="timeline-course-container">
									<!---->
									<div _ngcontent-nvr-c18="" class="course-container">
										<div _ngcontent-nvr-c18="" class="course-bar course-bar-family"
											style="width: 416px; left: 561px;"></div>
										<div _ngcontent-nvr-c18="" class="course-label" style="left: 566px;">
											<span _ngcontent-nvr-c18="">Write to be Heard</span></div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<!---->
					<div _ngcontent-nvr-c18="" class="today-label-container">
						<span _ngcontent-nvr-c18="" class="today-label" style="left: 683.333px;">Today</span></div>
					<!---->
				</div>
				<!---->
				<!---->
				<div _ngcontent-nvr-c18="" class="goal-section">
					<div _ngcontent-nvr-c18="" class="grid-row head-divider">
						<h2 _ngcontent-nvr-c18="" class="heading-small goal-head">Please select an activity for each
							goal</h2>
					</div>
					<div _ngcontent-nvr-c18="" _ngcontent-ybm-c18="" class="accordion-divider"></div>
					<!--XXX-->
					<div _ngcontent-nvr-c18="" class="goal-item">
						<button _ngcontent-nvr-c18="" class="accordion-header" id="accordion-button-learnerInfo" aria-controls="accordion-content-263" aria-expanded="true"><h2 _ngcontent-nvr-c18="" class="heading-medium" id="accordion-heading-263">I want to learn Math and English</h2><!----><!----><img _ngcontent-nvr-c18="" alt="Toggle panel Close Icon" class="accordion-icon" src="assets/images/icon-minus.png" id="accordion-heading-263-icon"></button>
						<!---->
						<div _ngcontent-nvr-c18="" id="accordion-content-263">
							<!---->
							<ul _ngcontent-nvr-c18="" class="assessment-data-keywordList">
								<!---->
								<li _ngcontent-nvr-c18="">
									<p _ngcontent-nvr-c18="" class="link">Spelling, Punctuation and Grammar</p>
									<button _ngcontent-nvr-c18="" aria-label="open content page" class="back-to-now button-secondary" id="open-content" type="button">Open</button><span _ngcontent-nvr-c18="" class="clearfix"></span>
								</li>
							</ul>
							<!---->
						</div>
						<div _ngcontent-nvr-c18="" class="accordion-divider"></div>
					</div>
					<div _ngcontent-nvr-c18="" class="goal-item">
						<button _ngcontent-nvr-c18="" class="accordion-header" id="accordion-button-learnerInfo" aria-controls="accordion-content-262" aria-expanded="true"><h2 _ngcontent-nvr-c18="" class="heading-medium" id="accordion-heading-262">I want to become a Computer Engineer</h2><!----><!----><img _ngcontent-nvr-c18="" alt="Toggle panel Close Icon" class="accordion-icon" src="assets/images/icon-minus.png" id="accordion-heading-262-icon"></button>
						<!---->
						<div _ngcontent-nvr-c18="" id="accordion-content-262">
							<!---->
							<ul _ngcontent-nvr-c18="" class="assessment-data-keywordList">
								<!---->
								<li _ngcontent-nvr-c18="">
									<p _ngcontent-nvr-c18="" class="link">TSP - Problem Solving</p>
									<button _ngcontent-nvr-c18="" aria-label="open content page" class="back-to-now button-secondary" id="open-content" type="button">Open</button><span _ngcontent-nvr-c18="" class="clearfix"></span>
								</li>
							</ul>
							<!---->
						</div>
						<div _ngcontent-nvr-c18="" class="accordion-divider"></div>
					</div>
					<div _ngcontent-nvr-c18="" class="goal-item">
						<button _ngcontent-nvr-c18="" class="accordion-header" id="accordion-button-learnerInfo" aria-controls="accordion-content-261" aria-expanded="true"><h2 _ngcontent-nvr-c18="" class="heading-medium" id="accordion-heading-261">I want to quit smoking and drinking</h2><!----><!----><img _ngcontent-nvr-c18="" alt="Toggle panel Close Icon" class="accordion-icon" src="assets/images/icon-minus.png" id="accordion-heading-261-icon"></button>
						<!---->
						<div _ngcontent-nvr-c18="" id="accordion-content-261">
							<!---->
							<ul _ngcontent-nvr-c18="" class="assessment-data-keywordList">
								<!---->
								<li _ngcontent-nvr-c18="">
									<p _ngcontent-nvr-c18="" class="link">Smoking Cessation</p>
									<button _ngcontent-nvr-c18="" aria-label="open content page" class="back-to-now button-secondary" id="open-content" type="button">Open</button><span _ngcontent-nvr-c18="" class="clearfix"></span>
								</li>
							</ul>
							<!---->
						</div>
						<div _ngcontent-nvr-c18="" class="accordion-divider"></div>
					</div>
					<div _ngcontent-nvr-c18="" class="goal-item">
						<button _ngcontent-nvr-c18="" class="accordion-header" id="accordion-button-learnerInfo" aria-controls="accordion-content-264" aria-expanded="true"><h2 _ngcontent-nvr-c18="" class="heading-medium" id="accordion-heading-264">I want to repay my Loans</h2><!----><!----><img _ngcontent-nvr-c18="" alt="Toggle panel Close Icon" class="accordion-icon" src="assets/images/icon-minus.png" id="accordion-heading-264-icon"></button>
						<!---->
						<div _ngcontent-nvr-c18="" id="accordion-content-264">
							<!---->
							<ul _ngcontent-nvr-c18="" class="assessment-data-keywordList">
								<!---->
								<li _ngcontent-nvr-c18="">
									<p _ngcontent-nvr-c18="" class="link">ContentTest</p>
									<button _ngcontent-nvr-c18="" aria-label="open content page" class="back-to-now button-secondary" id="open-content" type="button">Open</button><span _ngcontent-nvr-c18="" class="clearfix"></span>
								</li>
							</ul>
							<!---->
						</div>
						<div _ngcontent-nvr-c18="" class="accordion-divider"></div>
					</div>
					<div _ngcontent-nvr-c18="" class="goal-item">
						<button _ngcontent-nvr-c18="" class="accordion-header" id="accordion-button-learnerInfo" aria-controls="accordion-content-265" aria-expanded="true"><h2 _ngcontent-nvr-c18="" class="heading-medium" id="accordion-heading-265">I want to buy a house</h2><!----><!----><img _ngcontent-nvr-c18="" alt="Toggle panel Close Icon" class="accordion-icon" src="assets/images/icon-minus.png" id="accordion-heading-265-icon"></button>
						<!---->
						<div _ngcontent-nvr-c18="" id="accordion-content-265">
							<!---->
							<ul _ngcontent-nvr-c18="" class="assessment-data-keywordList">
								<!---->
								<li _ngcontent-nvr-c18="">
									<p _ngcontent-nvr-c18="" class="link">All Files</p>
									<button _ngcontent-nvr-c18="" aria-label="open content page" class="back-to-now button-secondary" id="open-content" type="button">Open</button><span _ngcontent-nvr-c18="" class="clearfix"></span>
								</li>
							</ul>
							<!---->
						</div>
						<div _ngcontent-nvr-c18="" class="accordion-divider"></div>
					</div>
					<div _ngcontent-ouk-c18="" class="goal-item">
						<button _ngcontent-ouk-c18="" class="accordion-header" id="accordion-button-learnerInfo" aria-controls="accordion-content-266" aria-expanded="true"><h2 _ngcontent-ouk-c18="" class="heading-medium" style="color: #1d70b8;cursor: pointer;font-size: 19px;margin-top: 20px;margin-bottom: 20px;" id="accordion-heading-266">I want to have a family</h2><!----><!----><img _ngcontent-ouk-c18="" alt="Toggle panel Close Icon" class="accordion-icon" src="assets/images/icon-minus.png" id="accordion-heading-266-icon"></button>
						<!---->
						<div _ngcontent-ouk-c18="" id="accordion-content-266">
							<!---->
							<ul _ngcontent-ouk-c18="" class="assessment-data-keywordList">
								<!---->
								<li _ngcontent-ouk-c18="">
									<p _ngcontent-ouk-c18="" class="link">Write to be Heard</p>
									<button _ngcontent-ouk-c18="" aria-label="open content page" class="back-to-now button-secondary" id="open-content" type="button">Open</button><span _ngcontent-ouk-c18="" class="clearfix"></span>
								</li>
							</ul>
							<!---->
						</div>
						<div _ngcontent-ouk-c18="" class="accordion-divider"></div>
					</div>
				</div>
				<!---->
				<div _ngcontent-nvr-c18="" class="planWrapper" id="old-plan">
					<div _ngcontent-nvr-c18="" class="header">
						<div _ngcontent-nvr-c18="" class="tabWrapper">
							<ul _ngcontent-nvr-c18="">
								<li _ngcontent-nvr-c18="" class="tabHead" routerlink="/plan" tabindex="0"><a
										_ngcontent-nvr-c18="" attr.aria-label="tab Month" class="tab-item"
										id="month-tab">All</a></li>
								<li _ngcontent-nvr-c18="" class="tabHead" routerlink="/plan" tabindex="0"><a
										_ngcontent-nvr-c18="" attr.aria-label="tab Year" class="tab-item"
										id="year-tab">Accredited</a></li>
								<li _ngcontent-nvr-c18="" class="tabHead" routerlink="/plan" tabindex="0"><a
										_ngcontent-nvr-c18="" attr.aria-label="tab Year" class="tab-item"
										id="year-tab">Non-Accredited</a></li>
							</ul>
							<ul _ngcontent-nvr-c18="" class="month-year-tab">
								<li _ngcontent-nvr-c18="" class="tabHead active"><a _ngcontent-nvr-c18=""
										attr.aria-label="tab Month" class="tab-item" id="month-tab">Month</a></li>
								<li _ngcontent-nvr-c18="" class="tabHead"><a _ngcontent-nvr-c18=""
										attr.aria-label="tab Year" class="tab-item" id="year-tab">Year</a></li>
							</ul>
						</div>
					</div>
					<div _ngcontent-nvr-c18="" class="timeline-container">
						<ul _ngcontent-nvr-c18="" class="month-container" id="slide">
							<span _ngcontent-nvr-c18="" class="past-background-container" style="width: 578.333px;"></span><span _ngcontent-nvr-c18="" class="past-timeline-container" style="width: 578.333px;"></span><span _ngcontent-nvr-c18="" class="future-timeline-container" style="left: 578.333px;"></span>
							<!----><span _ngcontent-nvr-c18="" class="day-div" style="left: 578.333px;"></span>
							<!---->
							<li _ngcontent-nvr-c18="" class="month-div">
								<div _ngcontent-nvr-c18="" class="inner-div" id="inner-div-0">
									<span _ngcontent-nvr-c18="" class="month-title">March 2020</span><span _ngcontent-nvr-c18="" class="month-divider" id="month-divider-0"></span>
									<div _ngcontent-nvr-c18="" class="timeline-bar" id="timeline-bar-0">
										<ul _ngcontent-nvr-c18="" class="courses-notch">
											<!---->
										</ul>
									</div>
								</div>
							</li>
							<li _ngcontent-nvr-c18="" class="month-div">
								<div _ngcontent-nvr-c18="" class="inner-div" id="inner-div-1">
									<span _ngcontent-nvr-c18="" class="month-title">April 2020</span><span _ngcontent-nvr-c18="" class="month-divider" id="month-divider-1"></span>
									<div _ngcontent-nvr-c18="" class="timeline-bar" id="timeline-bar-1">
										<ul _ngcontent-nvr-c18="" class="courses-notch">
											<!---->
										</ul>
									</div>
								</div>
							</li>
							<li _ngcontent-nvr-c18="" class="month-div">
								<div _ngcontent-nvr-c18="" class="inner-div" id="inner-div-2">
									<span _ngcontent-nvr-c18="" class="month-title">May 2020</span><span _ngcontent-nvr-c18="" class="month-divider" id="month-divider-2"></span>
									<div _ngcontent-nvr-c18="" class="timeline-bar" id="timeline-bar-2">
										<ul _ngcontent-nvr-c18="" class="courses-notch">
											<!---->
										</ul>
									</div>
								</div>
							</li>
							<div _ngcontent-nvr-c18="" class="button-container">
								<button _ngcontent-nvr-c18="" class="btn-arrow left-arrow" type="button" value="Prev"><span _ngcontent-nvr-c18="" class="arrow-div"></span></button><button _ngcontent-nvr-c18="" class="btn-arrow right-arrow" type="button" value="Next"><span _ngcontent-nvr-c18="" class="arrow-div"></span></button>
							</div>
						</ul>
					</div>
					<!---->
					<!---->
					<div _ngcontent-nvr-c18="" class="learner-plan-today-btn-container-hidden">
						<!---->
					</div>
					<!---->
					<!---->
					<div _ngcontent-nvr-c18="" class="grid-row">
						<h2 _ngcontent-nvr-c18="" class="heading-small">Goals</h2>
						<!---->
						<!---->
						<!---->
						<div _ngcontent-nvr-c18="" class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<button (click)="makePdf()">make pdf</button>


